<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Youtube" lan="" version="1.0" date="2022-04-04" compatibility="2.3.2" installRequired="true" >
	<author name="e107.org" url="https://github.com/e107inc/youtube" />
	<summary lan="LAN_PLUGIN_SUMMARY">Embed YouTube channels and playlists into e107 automatically.</summary>
	<description lan="LAN_PLUGIN_DESCRIPTION">Use YouTube RSS or API feeds to generate video pages for your e107 website.</description>
	<keywords>
		<word>multimedia</word>
		<word>youtube</word>
		<word>video</word>
	</keywords>
	<category>content</category>
    <screenshots>
		<image>preview.jpg</image>
	</screenshots>
	<copyright></copyright>
	<siteLinks>
		<link url="{e_PLUGIN}youtube/youtube.php" sef='index' perm="everyone" >YouTube</link>
	</siteLinks>
	<adminLinks>
		<link url="admin_config.php" icon="images/youtube_32.png" iconSmall="images/youtube_16.png" icon128="images/youtube_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
</e107Plugin>
