<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Youtube" lan="" version="1.0" date="2016-10-28" compatibility="2.0" installRequired="true" >
	<author name="CaMer0n" url="http://e107.org" />
	<summary lan="LAN_PLUGIN_SUMMARY">Embed YouTube channels and playlists into e107.</summary>
	<description lan="LAN_PLUGIN_DESCRIPTION"></description>
	<keywords>
		<word>multimedia</word>
		<word>youtube</word>
		<word>video</word>
	</keywords>
	<category>content</category>
	<copyright></copyright>
	<siteLinks>
		<link url="{e_PLUGIN}youtube/youtube.php" sef='index' perm="everyone" >YouTube</link>
	</siteLinks>
	<adminLinks>
		<link url="admin_config.php" icon="images/icon_32.gif" iconSmall="images/icon_16.gif" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
</e107Plugin>
